<%- contentFor('body') %>

<h1>Clientes</h1>
<div class="row">
    <div class="col-xs-1-12 p-2">
        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/250" 
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= cliente.nome %> <%= cliente.sobrenome %> </h5>
                <p class="card-text"><%= cliente.email %> </p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>