<%- contentFor('body') %>
<div class="card">
    <h5 class="card-header">Contato</h5>
    <div class="card-body">
        <!-- <h5 class="card-title">E-mail</h5> -->
        <p class="card-text">E-mail: <%= contato.email %></p>
        <p class="card-text">Telefone: <%= contato.tel %></p>
        <p class="card-text">Endereço: <%= contato.end %></p>
        <a href="#" class="btn btn-primary">Enviar E-mail</a>
    </div>
</div>