<%- contentFor('body') %>

<h1>Clientes <span class="badge badge-secondary"><%= totalClientes %> </span></h1>
<h1>Fornecedores <span class="badge badge-secondary"><%= totalFornecedores %> </span></h1>

</div>