<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>Quantidade de Pets atendidos:
        <span class="badge badge-secondary">
            <%= sobre.numerosDePetsAtendidos %>
        </span>
    </h1>
</div>